# Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Environment and IDE files
.env
.venv/
*.log
.DS_Store

# FastAPI & misc files
*.sqlite3
*.db

# Music and other binary assets (optional)
*.mp3

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

# Seq/Logs folder mistakenly uploaded
seq:http/
